version: '3.3'

services:       
#    image: vttanhua/springapi:0.0.1-SNAPSHOT
#    ports:
#      - 8080:8080
#    environment:
#      - spring.profiles.active=production
#    volumes:
#      - ./init:/docker-entrypoint-initaws.d #  springapi:
#    image: vttanhua/springapi:0.0.1-SNAPSHOT
#    ports:
#      - 8080:8080
#    environment:
#      - spring.profiles.active=production
#    volumes:
#      - ./init:/docker-entrypoint-initaws.d
#  web:
#    build:
#      context: .
#    ports:
#      - 8085:8085 
#    environment:
#      - spring.profiles.active=dev
#      - KEYCLOAK_SERVER=http://localhost:8080
#    restart: always  
#    depends_on:
#      - postgres
#      - activemq
#      - localstack
#      - keycloak
#    volumes:
#      - ./init:/docker-entrypoint-initaws.d      
  postgres:
    image: postgres:14.3-alpine
    ports:
      - 5532:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=nnnnnnnnn123
      - POSTGRES_DB=todo     
    volumes: 
        - db:/var/lib/postgresql/data      
  activemq:
    image: stratospheric/activemq-docker-image
    ports:
      - 5672:5672
      - 61613:61613
      - 61614:61614
      - 61616:61616
  localstack:
    image: localstack/localstack:0.12.9.1
    ports:
      - 4566:4566
    environment:
      - SERVICES=sqs,ses,dynamodb,s3
      - DEFAULT_REGION=eu-north-1
      - AWS_ACCESS_KEY_ID=YourAccessKey
      - AWS_SECRET_ACCESS_KEY=YourSecretKey
    volumes:
      - ./init:/docker-entrypoint-initaws.d
  keycloak:
    image: jboss/keycloak:12.0.4
    ports:
      - 8080:8080 
    environment:
      - KEYCLOAK_USER_ALREADY_EXISTS=keycloak
      - KEYCLOAK_PASSWORD_ALREADY_EXISTS=keycloak
      - XX_KEYCLOAK_FRONTEND_URL=http://localhost:8888/auth
      - DB_VENDOR=h2
      - JAVA_OPTS=-Dkeycloak.migration.action=import -Dkeycloak.migration.provider=singleFile -Dkeycloak.migration.file=/tmp/stratospheric-realm.json
    volumes:
      - ./init:/tmp
volumes:
  db:
    driver: local