<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- you have to add all profiles here too! -->
	<springProfile name="production">
		<property resource="application.properties" />
		<property resource="application-production.properties" />
	</springProfile>	
	
	<springProfile name="dev">
		<property resource="application.properties" />
		<property resource="application-dev.properties" />
	</springProfile>
	
	<springProfile name="default">
		<property resource="application.properties" />
	</springProfile>	
	
	<appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
 		<encoder class="de.siegmar.logbackawslogsjsonencoder.AwsJsonLogEncoder"/>
	</appender>

	  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%highlight(%-5level) %cyan(%d{ISO8601}) [%blue(%-30t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
	    </encoder>
	  </appender>
	
	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>MyAppRolling.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
        </encoder>
         
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}${logging.file}-rolling-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${logging.maxFileSize}</maxFileSize>
            <maxHistory>${logging.maxHistory}</maxHistory>
            <totalSizeCap>${logging.totalSizeCap}</totalSizeCap>
            <cleanHistoryOnStart>${logging.cleanHistoryOnStart}</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<property name="LOG_FILE" value="${logging.path}${logging.file}.log"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<springProfile name="production">
		<root level="${logging.level.root}">
			<appender-ref ref="JSON" />
		</root>
	</springProfile>
	<springProfile name="dev">
		<root level="${logging.level.root}">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
			<appender-ref ref="ROLLINGFILE" />
		</root>
	</springProfile>
	<logger name="org.springframework.web" level="${logging.level.root}"/>
</configuration>

